$primary-color: white;
$bg: black;
@font-face {
  font-family: "Lobster";
  src: url("../public/fonts/Lobster/Lobster-Regular.ttf") format("truetype"),     
 }

body{
  
  width:80%;
  margin:0 auto;

h1{
  font-size:48px;
  font-family: 'Lobster', cursive;
  text-align: center;
  letter-spacing: 0.08em;
  margin:0;
  
  .title-pomodoro{
    color:red;
  }
  .title-react{
    display: block;
    font-size: 24px;
  }
}
h2{
  text-align: center;
  font-family: 'Lobster', cursive;
}
.section-settings{
  display: flex;
  justify-content: space-around;
}


.break-time, .pomodoro-time{
    display: flex;
    align-items: center;

    p{
      width:20px;
      padding:0 10px;
      text-align: center;
    }
}

a{
  width:30px;
  height: 30px;
  border-radius: 50%;
  border:1px solid black;
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  box-shadow: 0px 0px 5px black;

  svg{
    color:red;
  }
  &:hover{
    background-color: rgb(109, 227, 248);
  }
}


  a:disabled{
    cursor: not-allowed;
  }

  .section-timer{
    
    margin:0 auto;
    h3{
      text-align: center;
      margin:0;
      font-family: "Lobster";
    }
   
   
.timer{
  border:1px solid red;
  width:300px;
  height: 300px;
  margin:0 auto;
  border-radius: 50%;
  font-size: 100px;
  text-align: center;
  font-family: 'Lobster', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
.title-timer{
  display: block;
}
  .minutes{
    text-align: center;
    width:180px;
  }
  .separateur{
    text-align: center;
    width:10%;
  }
  .secondes{
    text-align: center;
    width:180px;
  }
}
  }
}

